:root {
    /* Color styles */
    --darkpurple: #6611A4;
    --purple: #A462D5;
    --green: #03E2CF;
    --pink: #FF4B89;
    --black: #221A18;
    --lavender: #D0AAEC;
    --beige: #D7D4D4;
    --lilac: #E9D8F5;
    --white: white;

    /* Text-size styles */
    --fs-xs: 0.625rem;
    /* 10px - pour h5 */
    --fs-s: 0.75rem;
    /* 12px - pour paragraphes */
    --fs-md: 0.9375rem;
    /* 15px - pour h2 */
    --fs-lg: 1rem;
    /* 16px - pour h4 */
    --fs-xl: 1.0625rem;
    /* 17px - pour h3 */
    --fs-2xl: 1.25rem;
    /* 20px - espace supplémentaire */
    --fs-3xl: 2rem;
    /* 32px - pour h1 */
    --fs-4xl: 2.5rem;
    /* Taille plus grande, si nécessaire */

    --font-sans: 'Mulish', sans-serif;
    --font-title-orb: 'Orbitron', sans-serif;
    --font-title-sync: 'Syncopate', sans-serif;
}