.footer {
    background-color: var(--darkpurple);
    color: var(--beige);
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}


.footer-menu:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-menu img {
    width: 120px;
    margin: 0 auto;
}



.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;

}

.footer-menu ul li a {
    text-decoration: none;
    color: var(--beige);
    font-size: var(--fs-md);
    display: block;
    margin-bottom: 0.5rem;
}

.footer-menu ul li a:hover {
    color: var(--pink);
}



.footer__social-network {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer__social-network img {
    width: 30px;
    transition: transform 0.3s ease;
}

.footer__social-network img:hover {
    transform: scale(1.4);
}




