.header__menu {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    /* Espacement intérieur */
    transform: translateX(100%);
    /* Hors écran par défaut */
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.header__menu[aria-hidden="false"] {
    transform: translateX(0);
    /* Afficher le menu */
    visibility: visible;
}













/*.header { 
    width: 353px;
    height: 61px;
    background-color: var(--darkpurple);
    border-radius: 30.5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; 
    box-sizing: border-box; 
}

.header__logo {
    width: 83px;
    height: 49px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.header__menu {
    width: 25px;
    margin-right: 9px; 
    cursor: pointer; 
}

.header__menu[aria-expanded="false"] {
    display: none;
}

.header__menu[aria-expended="true"] {
    display: block;
}
























.header {
    width: 353px;
    height: 61px;
    background-color: var(--darkpurple);
    border-radius: 30.5px;
    /* La moitié de la hauteur pour des bords bien arrondis */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    /* Padding gauche et droit */
}

.header__logo {
    width: 83px;
    height: 49px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.header__menu {
  margin-right: 9px; /* 25px - 16px de padding */
}

