.description{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 25px
    
}

.description-header {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;;
    
}