.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 400px;
}

.guest img {
    width: 80%;
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.guest h4 {
    font-size: var(--fs-lg);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.guest p {
    font-size: var(--fs-md);
    margin-bottom: 0.7rem;
}


.jury {
    text-align: center;
    padding: 2rem 1rem;
}

.jury h1 {
    font-size: var(--fs-3xl);
    margin-bottom: 3rem;
    font-family: var(--font-title-orb);
}

/* Style des membres avec alignement horizontal */
.jury-member {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 137px;
    margin: 0 1rem;
}

.jury-member img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
}

.jury-member h4 {
    font-size: var(--fs-lg);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.jury-member p {
    font-size: var(--fs-md);
    color: var(--black);
    margin-bottom: 1rem;
}

/* Espacement pour la phrase finale */
.jury>div:last-of-type p {
    margin-top: 2rem;
    font-size: var(--fs-md);
    font-style: italic;
}