.hero {
    position: relative; 
    width: 100%;
    z-index: 1;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    top: 0%;
}

.hero-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;

}

.hero h1 {
    position: absolute;
    top: 80%; 
    left: 0; 
    margin-left: 25px; 
    transform: translateY(-50%); 
    color: var(--pink); 
    font-size: var(--fs-3xl); 
    white-space: nowrap; 
    text-align: left;
}

.hero-text p {
    padding-top: 4px;
}