.menu-header {
    display: flex;
    background-color: #6A0DAD;
    border-radius: 50px;
    padding: 10px 20px;
    max-width: 95%;
    margin: 20px auto;
    height: 60px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);
}

.menu__hamburger {
    position: absolute;
    top: 47px;
    right: 45px;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}


.menu__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs-2xl);
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid var(--lavender);
    text-align: center;
}

.menu__link:hover {
    color: var(--pink);
}


.menu__logo {
    width: 90px;
    height: 30px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.menu__bar {
    background-color: var(--white);
    height: 2px;
    width: 35px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.menu__hamburger.menu--open .menu__bar:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu__hamburger.menu--open .menu__bar:nth-child(2) {
    opacity: 0;
}

.menu__hamburger.menu--open .menu__bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* Mes réseaux sociaux */
.menu__secondaire {
    margin-top: 3rem;
    text-align: center;
}

.menu__social-network {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.menu__social-network img:hover {
    filter: brightness(0.8);
}
